## Question 1 :   
### 20 pts

You are given the file 'us_states.txt' that contains the state name, state abbreviation , and state capital.  
Read the file and process it (you need to deal with the * characters that are being present in the file) and create a dictionary called abbr_dict that has for keys the state name and for values the respective state two letter abbreviation.

After you are done check the length of the dictionary to see if it is equal to 50.

In [7]:
# write your code here

f = open('us_states.txt','r')
lines = f.readlines()

clean_lines = [line.strip('\n').split('*') for line in lines]

abbr_dict = {}
for line in clean_lines[1:]:
    abbr_dict[line[0]] = line[1]

Using the dictionary you created in the previous part to create an educative game that works as follows:  

* Greets the user with: "Would you like to play a geography game? (Y for Yes or N for No) - enter STOP anytime you wish to stop playing"
* If the player selects N, then everything terminates and no other message is shown on screen.
* If the player selects Y, a message like the following appears on screen: 'What is the two letter abbreviation of the state of (*) ?' and there is a box waiting for the user's answer/input.

(*) is a randomly selected key-state from the first dictionary you created.

* If the player inputs the correct answer (take precautions so upper or lowercase entries don't make a difference), then the following message appears: 'That is correct ! So far your total score is 1 points'

Every time the player answers correctly get's this victorious message as well as their running total of a score.
At the same time a new question pops up on the screen.

* If the player gives a wrong answer gets the message: 'Wrong answer, the game is over' and the game stops.
* If the player enters STOP, gets the messageL 'Till next time!' and the game stops.

Sample Output:  

Would you like to play a geography game? (Y for Yes or N for No) - enter STOP anytime you wish to stop playing.  
Y   

What is the two letter abbreviation of the state of Texas ?TX  
That is correct ! So far your total score is 1 points  
What is the two letter abbreviation of the state of Utah ?UT  
That is correct ! So far your total score is 2 points  
What is the two letter abbreviation of the state of Iowa ?IA  
That is correct ! So far your total score is 3 points  
What is the two letter abbreviation of the state of Missouri ?MI  
Wrong answer, the game is over  

**Useful remarks**:

* If you were not successfull in getting the first dictionary in the previous exercise you may use the abbr_dict listed below.
* To make the states-abbreviation pairs to shuffle use the random library (see Useful Python Operators)
* If you can't make the game random-shuffling don't give up, you can make it deterministic (and lose some points) by starting at the start of the dictionary and moving alphabetically iterating over it's keys for example.

**In my opinion this question is the trickiest, if you get stuck either move on or answer part of it it without randomly selecting the states for the questions**

**If you were not sucessful in extracting the dictionary, you may use the given one below:**

In [ ]:
abbr_dict = {'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

**Hint:** You may follow it if you want, any solution is acceptable.  

In this example the dictionary has key = fruit, value = color.  
In your case the dictionary has key = state, value = abbreviation.  

Try to transfer the example below in your code as you try to solve the exersice.

In [8]:
# import random
import random

# or import shuffle
#from random import shuffle

# In our case we have a dictionary with state-abbreviation
d = {'apple':'red','orange':'orange', 'banana':'yellow'}

# You can use the .items() dictionary method to grab the key-value pairs and
# then use list() to put them in a list
entry_list = list(d.items())

# You could do something like that in order to randomly select a pair of state - abbreviation
random_entry = random.choice(entry_list)

print(random_entry)

# All that is left is for each pair, ask the user the key=state 
#(For example: What is the abbreviation of Texas(='banana')?)
# If user enters (user input) TX(= yellow) then the user answered correctly

('apple', 'red')

In [168]:
# write your code here

import random

start = input("Would you like to play a geography game? (Y for Yes or N for No) \
- enter STOP anytime you wish to stop playing. ")
entry_list = list(abbr_dict.items())
result = 'correct'

if start == 'N':
    pass
elif start != 'Y':
    print("Please enter either 'Y' or 'N'")
else:
    score = 0
    while result == 'correct':
        random_entry = random.choice(entry_list)
        response = input(f'What is the two letter abbreviation of the state of {random_entry[0]}? ')
        if response.upper() == random_entry[1]:
            score += 1
            print(f'That is correct ! So far your total score is {score} points')
        elif response == 'STOP':
            print('Till next time!')
            result = 'stopped'
        else:
            print('Wrong answer, the game is over')
            result = 'incorrect'

Would you like to play a geography game? (Y for Yes or N for No) - enter STOP anytime you wish to stop playing. Y
What is the two letter abbreviation of the state of Alaska? ak
That is correct ! So far your total score is 1 points
What is the two letter abbreviation of the state of North Carolina? nC
That is correct ! So far your total score is 2 points
What is the two letter abbreviation of the state of Colorado? CO
That is correct ! So far your total score is 3 points
What is the two letter abbreviation of the state of Louisiana? LO
Wrong answer, the game is over

## Question 2 :   
### 20 pts

Imagine you have stored the amounts of required ingredients for a muffin recipe in a dictionary like that: 

muffin = {'flour': 500, 'sugar': 200, 'eggs': 1}. This means that in order to make one batch of muffins (= dictionary name) you need in terms of amounts: 500 of flour, 200 of sugar and 1 egg.  

Now imagine that peoples baking inventories are stored in similar dictionaries:  

Mona = {'flour': 2000, 'sugar': 700, 'eggs': 8,'yeast':1,'honey':50}  
Wong = {'flour': 3000, 'sugar': 200, 'eggs': 2,'honey':150}  
Charlie = {'flour': 500, 'sugar': 200, 'cocoa': 200}
Carlos = {'flour': 500, 'sugar': 100, 'eggs': 2}

You can see that Mona with the amounts she has can make 3 batches of muffins according to the recipe (and she has some extra ingredients that we don't mind).  
Wong can only make one batch of muffins, Charlie can't cook because one main ingredient is missing from his list, and Carlos can cook 0 batches (all ingredients are there, but not enough quantity.)


Write a function called **chef_help** that accepts two dictionary arguments where one is a person's inventory and the other one the required ingredient for a batch of this particular recipe. This function should output a message saying how many batches of the recipe-dictionary used as one of the arguments, the person's inventory dictionary is able to cook.

If a person has some portion of a required ingredient, but not all of it, the output should be:  

'With the ingredients available you are able to cook 0 of the recipe batches. You have all the ingredients but not in their required quantities'   

If a person is missing entirely a required ingredient, the output should be:  

'You are missing a main ingredient - no cooking can be done today using this recipe. You need to go shopping'  


For example these three calls of the chef_help function will give the following:   

* chef_help(Mona,muffin)     
'With the ingredients available you are able to cook 3 of the recipe batches'    


* chef_help(Wong,muffin)   
'With the ingredients available you are able to cook 1 of the recipe batches'  


* chef_help(Charlie,muffin)     
'You are missing a main ingredient - no cooking can be done today using this recipe'

  
* chef_help(Carlos,muffin)  
'With the ingredients available you are able to cook 0 of the recipe batches'

In [21]:
# recipe
muffin = {'flour': 500, 'sugar': 200, 'eggs': 1}

In [158]:
# test inventories
Mona = {'flour': 2000, 'sugar': 700, 'eggs': 8,'yeast':1,'honey':50}
Wong = {'flour': 3000, 'sugar': 200, 'eggs': 2,'honey':150}
Charlie = {'flour': 500, 'sugar': 200, 'cocoa': 200}
Carlos = {'flour': 500, 'sugar': 100, 'eggs': 2}

In [38]:
# write your code here

def chef_help(inventory,recipe):
    '''
    This function expects two dictionary inputs. The first one is the inventory, the second is the recipe.
    If a person's inventory is missing entirely a required ingredient, it will alert the user.
    If a person's inventory has all the required ingredients, it will tell the user how many batches of that recipe they
    can make with their inventory.
    '''
    for ingredient,amount in recipe.items():
        if ingredient not in inventory.keys():
            return 'You are missing a main ingredient - no cooking can be done today using this recipe'
    
    batch_nums = []
    for ingredient,amount in inventory.items():
        if ingredient in recipe.keys():
            batches = -1
            while amount >= 0:
                amount -= recipe[ingredient]
                batches += 1
            batch_nums.append(batches)
    return f'With the ingredients available you are able to cook {min(batch_nums)} of the recipe batches'

In [39]:
# use these tests to test your code once you have created the chef_help function:

print(chef_help(Mona,muffin))
print(chef_help(Wong,muffin))
print(chef_help(Charlie,muffin))
print(chef_help(Carlos,muffin))

With the ingredients available you are able to cook 3 of the recipe batches
With the ingredients available you are able to cook 1 of the recipe batches
You are missing a main ingredient - no cooking can be done today using this recipe
With the ingredients available you are able to cook 0 of the recipe batches

#### Extra credit 10pts: 

Try to tweak the function to output a required shopping list based on the missing ingredients so that one batch can be coocked afterwards. 

For example, for Charlie, it would say that 1 extra egg is required.
For Carlos it would say that 100 (assumed grams) of sugar is required.

In [164]:
Test = {'flour': 300, 'sugar': 200, 'cocoa': 200} #this test is low on flour AND missing eggs completely

In [165]:
# write your code here

def chef_help(inventory,recipe):
    '''
    This function expects two dictionary inputs. The first one is the inventory, the second is the recipe.
    If a person's inventory is missing entirely a required ingredient or if the person doesn't have enough of all the
    ingredients, it will return a shopping list to the user.
    If a person's inventory has sufficient amounts of all the required ingredients, it will tell the user how many
    batches of that recipe they can make with their inventory.
    '''
    shopping_list = []
    for ingredient,amount in recipe.items():
        if ingredient not in inventory.keys():
            shopping_list.append(f'You still need {ingredient} in the amount of {amount}')
    
    batch_nums = []
    for ingredient,amount in inventory.items():
        if ingredient in recipe.keys():
            batches = -1
            while amount >= 0:
                amount -= recipe[ingredient]
                batches += 1
            batch_nums.append(batches)
    
    batches_able = min(batch_nums)
    
    if batches_able == 0 or len(shopping_list) > 0:
        for ingredient,amount in inventory.items():
            if ingredient in recipe.keys():
                amt_needed = recipe[ingredient] - amount
                if amt_needed > 0:
                    shopping_list.append(f'You still need {ingredient} in the amount of {amt_needed}')
        for index in range(len(shopping_list)):
            print(shopping_list[index])
        return ''
    else:
        return f'With the ingredients available you are able to cook {batches_able} of the recipe batches'

In [166]:
print(chef_help(Charlie,muffin))
print(chef_help(Carlos,muffin))
print(chef_help(Test,muffin))

You still need eggs in the amount of 1

You still need sugar in the amount of 100

You still need eggs in the amount of 1
You still need flour in the amount of 200

## Question 3 :   
### 20 pts

* Create a SavingsAccount class 
* Add the following instance attributes to the __init__ method : account number, name, interest rate, and balance set to zero (balance = 0)
* Write a __str__ method in SavingsAccount to include all class attributes in a short descriptive message (Imagine a message someone sees when accessing their account from an ATM or their online banking).This will allow you to use the print() function with your objects.
* Add a deposit method to the SavingsAccount: this method will receive a parameter called deposit_amt. If the amount passed in is greater than zero, then it will be added to the balance. Otherwise, output a statement explaining that the deposit amount has to be positive.
* Add a withdrawal method to the SavingsAccount: this method will receive a parameter called withdrawal_amt. The method will check for two conditions:

a.If the amount is zero or less, no transaction will be conducted. Your program should output a meaningful statement and explain why.   

b.The bank institution has a business rule that all savings accounts must maintain a minimum balance of 20.00 dollars. As a result, if a customer’s withdrawal amount will leave his or her account to have less than 20.00 dollars in balance, your program should output a meaningful statement stating the limit that the customer can withdraw.
Otherwise, your program will withdraw the money and update the balance.  

* Add a method that updates (changes the interest rate of the account)
* Add a method that sets the balance of your account (whatever the balance is, this method sets a new balance on your account)
* Add a get_account_num method, where it returns the account number from a SavingsAccount object
* Add a get_name method, where it returns the account name from a SavingsAccount object
* Add a get_interest_rate method, where it returns the interest rate from a SavingsAccount object
* Add a get_balance method, where it returns the balance from a SavingsAccount object

In [169]:
# write your code here

class SavingsAccount:
    
    def __init__ (self,account_number,name,interest_rate,balance):
        self.account_number = account_number
        self.name = name
        self.interest_rate = interest_rate
        self.balance = 0
        
    def __str__ (self):
        print(f'Account number: {self.account_number}')
        print(f'Name: {self.name}')
        print(f'Interest rate: {self.interest_rate}')
        return f'Balance: {self.balance}'
        
    def deposit(self,deposit_amt):
        if deposit_amt >= 0:
            self.balance += deposit_amt
            return f'Deposit accepted. Your new balance is ${self.balance}'
        else:
            return f'Deposit rejected. Your current balance is ${self.balance}'
        
    def withdraw(self,withdrawal_amt):
        if withdrawal_amt <= 0:
            return f'Withdrawal rejected due to improper withdrawal amount'
        elif self.balance - withdrawal_amt >= 20:
            self.balance -= withdrawal_amt
            return f'Withdrawal accepted. Your new balance is ${self.balance}'
        else:
            limit = self.balance - 20
            return f'Withdrawal rejected due to insufficient funds. Your maximum allowable withdrawal amount is ${limit}'
    
    def update_interest(self,new_interest):
        self.interest_rate = new_interest
        return f'Update accepted. Your new interest rate is {self.interest_rate}%'
        
    def set_balance(self,new_balance):
        self.balance = new_balance
        return f'Update accepted. Your new balance is ${self.balance}'
    
    def get_account_number(self):
        return self.account_number
    
    def get_name(self):
        return self.name
    
    def get_interest_rate(self):
        return self.interest_rate
    
    def get_balance(self):
        return self.balance

Instantiate two SavingsAccount objects.  

Print the basic information of these objects.

In [170]:
# Instantiate and print SavingsAccount object number 1:

acc1 = SavingsAccount('001','Anthony',2.5,0)
print(acc1)

Account number: 001
Name: Anthony
Interest rate: 2.5
Balance: 0

In [171]:
# Instantiate and print SavingsAccount object number 2:

acc2 = SavingsAccount('002','Bethany',2.5,700)
print(acc2)

Account number: 002
Name: Bethany
Interest rate: 2.5
Balance: 0

Make two deposits(one for each created object), change the interest rate of the first object and set it at 3%, and perform two withdrawals (one for each created object),illustrating your code.

In [172]:
# deposit no1

acc1.deposit(100)

'Deposit accepted. Your new balance is $100'

In [173]:
# deposit no2

acc2.deposit(200)

'Deposit accepted. Your new balance is $200'

In [174]:
# change interest rate for object 1

acc1.update_interest(3)

'Update accepted. Your new interest rate is 3%'

In [175]:
# withdrawal no1

acc1.withdraw(90)

'Withdrawal rejected due to insufficient funds. Your maximum allowable withdrawal amount is $80'

In [176]:
# withdrawal no2

acc2.withdraw(90)

'Withdrawal accepted. Your new balance is $110'

##### EXTRA CREDIT QUESTION 10PTS

* Open the file named 'car_parts.txt'. Load all of it's information and print it. It should be a file containing information about car parts.   

* Process the information and keep a running total over the part prices. After writing your code the output should be the following:  

After adding 4 wheels the running total is \\$ 2000  
After adding 4 doors the running total is \\$ 2800  
After adding 4 windows the running total is \\$ 3200  
After adding 1 engine the running total is \\$ 5200  
After adding 1 body the running total is \\$ 10200

In [142]:
# write your code here

f = open('car_parts-3.txt','r')
lines = f.readlines()
total = 0

for line in lines[1:]:
    line = line.strip('\n').split(',')
    total += int(line[2])*int(line[1])
    print(f'After adding {line[1]} {line[0].lower()} the running total is ${total}')

After adding 4 wheels the running total is $2000
After adding 4 doors the running total is $2800
After adding 4 windows the running total is $3200
After adding 1 engine the running total is $5200
After adding 1 body the running total is $10200

## Question 4 :   
### 15 pts

The file florida_voters.txt contains the numbers of republican and democratic voters in various counties in Florida. Write code that reads in this text file and print out the counties, along with the
number of republican and democratic voters in those counties, sorted by the
number of democratic voters. The output should look like this:  


LAFAYETTE 1373 2672  
GLADES 2190 3110  
LIBERTY 720 3372    
...

In [177]:
#write your code here

f = open('florida_voters.txt','r')
lines = f.readlines()

clean_data = []
for line in lines[1:]:
    clean = line.split('\t')[:3]
    clean[1] = int(clean[1].replace(',',''))
    clean[2] = int(clean[2].replace(',',''))
    clean_data.append(clean)
    
for line in sorted(clean_data, key = lambda county: county[2])[:5]:
    print(line[0],line[1],line[2])

LAFAYETTE 1373 2672
GLADES 2190 3110
LIBERTY 720 3372
UNION 2752 3579
GILCHRIST 5789 3652

##### EXTRA CREDIT QUESTION 10PTS

* Open the file named 'car_parts.txt'. Load all of it's information and print it. It should be a file containing information about car parts.   

* Process the information and keep a running total over the part prices. After writing your code the output should be the following:  

After adding 4 wheels the running total is \\$ 2000  
After adding 4 doors the running total is \\$ 2800  
After adding 4 windows the running total is \\$ 3200  
After adding 1 engine the running total is \\$ 5200  
After adding 1 body the running total is \\$ 10200

In [141]:
# write your code here (this is the same code from before)

f = open('car_parts-3.txt','r')
lines = f.readlines()
total = 0

for line in lines[1:]:
    line = line.strip('\n').split(',')
    total += int(line[2])*int(line[1])
    print(f'After adding {line[1]} {line[0].lower()} the running total is ${total}')

After adding 4 wheels the running total is $2000
After adding 4 doors the running total is $2800
After adding 4 windows the running total is $3200
After adding 1 engine the running total is $5200
After adding 1 body the running total is $10200

## Question 5 :   
### 25 pts

Load the given dataset into Python.From the given dataset print the first and last five rows.

In [ ]:
# done below

The following code will replace all column values which contain ?, n.a, or NaN with the default NaN Python value for missing values.

In [178]:
import pandas as pd
df = pd.read_csv('car_data-1.csv', na_values=['?','n.a','NaN'], header = 0)
df.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [179]:
df.tail()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

You should work with this dataframe for the rest of the questions:

Select all rows for the columns company and price. Store the output in a dataframe called df_small and output the result.

In [180]:
df_small = df[['company','price']]
df_small

        company    price
0   alfa-romero  13495.0
1   alfa-romero  16500.0
2   alfa-romero  16500.0
3          audi  13950.0
4          audi  17450.0
..          ...      ...
56   volkswagen   7975.0
57   volkswagen   7995.0
58   volkswagen   9995.0
59        volvo  12940.0
60        volvo  13415.0

[61 rows x 2 columns]

Select a subset of the original dataset that contains all the information regarding the Toyota cars.

In [181]:
df[df['company'] == "toyota"]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

Count total cars per company

In [182]:
df['company'].value_counts()

toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
isuzu            3
jaguar           3
porsche          3
dodge            2
volvo            2
Name: company, dtype: int64

Find all the cars that have less or equal than 20 as average mileage and are of horsepower greater than 200.

In [183]:
df[(df['average-mileage'] <= 20) & (df['horsepower'] > 200)]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
26,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
45,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
46,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
47,63,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,NaN